* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:rgb(255, 255, 255);
    background-image: url(bababa.png);
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    justify-content: space-around;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 10px rgb(53, 0, 78);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 6px;
}

h1 {
    color: rgb(121, 255, 95);
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 1px green;
}

.sizeimage {
    width: 50px;
    height: 50px;
    align-content: center;
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imagens2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.not {
    user-select: none;
}

.formalario {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(121, 255, 95);
    border-radius: 20px;
    background-color: rgb(148, 0, 216);
}

.page1 {
    width: 270px;
    height: 270px;
    border: 7px solid rgb(121, 255, 95);
}

a {
    color: rgb(255, 255, 255);
    text-decoration:underline;
    text-align: center;
}

.nomeproduto {
    color: rgb(255, 255, 255);
    
}

h2 {
    color: rgb(121, 255, 95);
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 1px green;
}

.contatot {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

p {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
}